In [1]:
import numpy as np
import pandas as pd
import requests
from datetime import datetime, timedelta
from time import sleep

**CONTAMINACIÃ“N**

In [3]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjYXJvbGluYV9tZXJsbzgzQGhvdG1haWwuY29tIiwianRpIjoiYjMxZmEyMjItNzg1MC00YjBmLTkwYzItYTQ5NjE1MWQxZTZhIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1NDg0NzYsInVzZXJJZCI6ImIzMWZhMjIyLTc4NTAtNGIwZi05MGMyLWE0OTYxNTFkMWU2YSIsInJvbGUiOiIifQ.5wM8GyjDKvtBQrcvGCBBWPt81BDlnQFh79JhuFUQ7G0"
headers = {"api_key": api_key}
url_estacion = f"https://opendata.aemet.es/opendata/api/red/especial/contaminacionfondo/estacion/01"
response = requests.get(url_estacion, headers = headers)
response.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/c8cff292',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/6235d58a'}

In [4]:
data = requests.get(response.json().get("datos")).text.split("\n")
data[0]

'05-11-2024 00:10 SO2(001): +00000.14 ug/m3 CV: V FC: 2.66 NO(007): +00000.06 ug/m3 CV: V FC: 1.248 NO2(008): +00048.31 ug/m3 CV: V FC: 1.91 O3(014): +00085.84 ug/m3 CV: V FC: 1.99 VEL(081): +00002.58 m/s CV: V FC: 1 DIR(082): +00194.48 GRA CV: V FC: 1 TEM(083): +00011.74 GC CV: V FC: 1 HUM(086): +00077.96 % CV: V FC: 1 PRE(087): +00915.00 hPa CV: V FC: 1 RAD(088): +00006.49 W/m2 CV: V FC: 1 LLU(089): +00000.00 mm CV: V FC: 1 PM10(010): +00000.00 ug/m3 CV: N FC: 1'

In [5]:
data[0][17:]

'SO2(001): +00000.14 ug/m3 CV: V FC: 2.66 NO(007): +00000.06 ug/m3 CV: V FC: 1.248 NO2(008): +00048.31 ug/m3 CV: V FC: 1.91 O3(014): +00085.84 ug/m3 CV: V FC: 1.99 VEL(081): +00002.58 m/s CV: V FC: 1 DIR(082): +00194.48 GRA CV: V FC: 1 TEM(083): +00011.74 GC CV: V FC: 1 HUM(086): +00077.96 % CV: V FC: 1 PRE(087): +00915.00 hPa CV: V FC: 1 RAD(088): +00006.49 W/m2 CV: V FC: 1 LLU(089): +00000.00 mm CV: V FC: 1 PM10(010): +00000.00 ug/m3 CV: N FC: 1'

In [6]:
dicc_data = {k : v for k, v in np.array(data[0][17:].split()).reshape(-1, 7)[:, :2]}
dicc_data["date"] = data[0][:17]
pd.json_normalize(dicc_data)

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date
0,+00000.14,+00000.06,+00048.31,+00085.84,+00002.58,+00194.48,+00011.74,+00077.96,+00915.00,+00006.49,+00000.00,+00000.00,05-11-2024 00:10

In [7]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwZXRpZGllcnNtaXRAZ21haWwuY29tIiwianRpIjoiMmY4NmU2YTUtMTk1NS00YmM0LTkwMmQtODhmOTRiMDcxODhmIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1MjkxNTAsInVzZXJJZCI6IjJmODZlNmE1LTE5NTUtNGJjNC05MDJkLTg4Zjk0YjA3MTg4ZiIsInJvbGUiOiIifQ.3jrUDCnvi4-ay89n1inJgfjvqI6rkqPwecpAdCGaTJI"
headers = {"api_key": api_key}

estaciones = ["11", "10", "09", "17", "14", "06", "08", "05", "16", "13", "01", "07", "12"]

df = pd.DataFrame()

for estacion in estaciones:
    url_estacion = f"https://opendata.aemet.es/opendata/api/red/especial/contaminacionfondo/estacion/{estacion}"
    
    response = requests.get(url_estacion, headers = headers)
    
    data = requests.get(response.json().get("datos")).text.split("\n")
    
    def parsear_data(data, estacion):
    
        lista_dicc_data = list()
        
        for elemento in data:
            dicc_data = {k : v for k, v in np.array(elemento[17:].split()).reshape(-1, 7)[:, :2]}
            dicc_data["date"] = elemento[:17]
            lista_dicc_data.append(dicc_data)
            df_ = pd.json_normalize(lista_dicc_data)
            df_["estacion"] = estacion
    
        return df_
    
    df = pd.concat([df, parsear_data(data, estacion)], ignore_index = True)

df

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date,estacion
0,+00000.45,+00000.26,+00001.35,+00076.37,+00002.20,+00200.00,+00015.90,+00081.50,+00977.30,+00000.00,+00000.00,+00000.00,05-11-2024 00:10,11
1,+00000.42,+00000.18,+00001.44,+00079.56,+00002.90,+00189.00,+00016.00,+00081.20,+00977.30,+00000.00,+00000.00,+00000.00,05-11-2024 00:20,11
2,+00000.34,+00000.22,+00001.35,+00078.34,+00002.50,+00193.00,+00016.00,+00081.40,+00977.40,+00000.00,+00000.00,+00000.00,05-11-2024 00:30,11
3,+00000.26,+00000.16,+00001.46,+00077.47,+00002.90,+00193.00,+00016.00,+00082.00,+00977.40,+00000.00,+00000.00,+00000.00,05-11-2024 00:40,11
4,+00000.28,+00000.19,+00001.47,+00080.42,+00003.00,+00180.00,+00016.00,+00081.90,+00977.40,+00000.00,+00000.00,+00000.00,05-11-2024 00:50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1100,+00002.09,+00000.31,+00000.83,+00079.42,+00001.01,+00128.71,+00019.90,+00084.00,+00927.00,+00506.23,+00000.00,+00039.24,05-11-2024 13:30,12
1101,+00001.97,+00000.33,+00000.83,+00072.15,+00001.94,+00118.51,+00019.90,+00086.00,+00927.00,+00521.38,+00000.00,+00039.24,05-11-2024 13:40,12
1102,+00001.72,+00000.32,+00000.88,+00073.08,+00001.43,+00117.02,+00020.10,+00087.00,+00926.70,+00464.21,+00000.00,+00039.24,05-11-2024 13:50,12
1103,+00001.55,+00000.33,+00000.92,+00067.78,+00001.55,+00172.57,+00021.00,+00089.00,+00926.05,+00442.90,+00000.00,+00039.25,05-11-2024 14:00,12
1104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,12

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1105 entries, 0 to 1104
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SO2(001):   1092 non-null   object
 1   NO(007):    1092 non-null   object
 2   NO2(008):   1092 non-null   object
 3   O3(014):    1092 non-null   object
 4   VEL(081):   1092 non-null   object
 5   DIR(082):   1092 non-null   object
 6   TEM(083):   1092 non-null   object
 7   HUM(086):   1092 non-null   object
 8   PRE(087):   1092 non-null   object
 9   RAD(088):   1092 non-null   object
 10  LLU(089):   1092 non-null   object
 11  PM10(010):  1092 non-null   object
 12  date        1105 non-null   object
 13  estacion    1105 non-null   object
dtypes: object(14)
memory usage: 121.0+ KB

In [9]:
df['date'] = pd.to_datetime("04-11-2024 00:10", format="%d-%m-%Y %H:%M")

In [10]:
df['SO2(001):'] = df['SO2(001):'].replace('+', '').astype(float)
df['NO(007):'] = df['NO(007):'].replace('+', '').astype(float)
df['NO2(008):'] = df['NO2(008):'].replace('+', '').astype(float)
df['O3(014):'] = df['O3(014):'].replace('+', '').astype(float)
df['VEL(081):'] = df['VEL(081):'].replace('+', '').astype(float)
df['DIR(082):'] = df['DIR(082):'].replace('+', '').astype(float)
df['TEM(083):'] = df['TEM(083):'].replace('+', '').astype(float)
df['HUM(086):'] = df['HUM(086):'].replace('+', '').astype(float)
df['PRE(087):'] = df['PRE(087):'].replace('+', '').astype(float)
df['RAD(088):'] = df['RAD(088):'].replace('+', '').astype(float)
df['LLU(089):'] = df['LLU(089):'].replace('+', '').astype(float)
df['PM10(010):'] = df['PM10(010):'].replace('+', '').astype(float)
df['estacion'] = df['estacion'].astype(int)

In [11]:
# Buscar filas con al menos un NaN
filas_con_nan = df[df.isna().any(axis=1)]

print("Filas con NaNs:")
print(filas_con_nan)

Filas con NaNs:
      SO2(001):  NO(007):  NO2(008):  O3(014):  VEL(081):  DIR(082):  \
84          NaN       NaN        NaN       NaN        NaN        NaN
169         NaN       NaN        NaN       NaN        NaN        NaN
254         NaN       NaN        NaN       NaN        NaN        NaN
339         NaN       NaN        NaN       NaN        NaN        NaN
424         NaN       NaN        NaN       NaN        NaN        NaN
509         NaN       NaN        NaN       NaN        NaN        NaN
594         NaN       NaN        NaN       NaN        NaN        NaN
679         NaN       NaN        NaN       NaN        NaN        NaN
764         NaN       NaN        NaN       NaN        NaN        NaN
849         NaN       NaN        NaN       NaN        NaN        NaN
934         NaN       NaN        NaN       NaN        NaN        NaN
1019        NaN       NaN        NaN       NaN        NaN        NaN
1104        NaN       NaN        NaN       NaN        NaN        NaN

      TEM(083):  HUM(086):  PRE(087):  RAD(088):  LLU(089):  PM10(010):  \
84          NaN        NaN        NaN        NaN        NaN         NaN
169         NaN        NaN        NaN        NaN        NaN         NaN
254         NaN        NaN        NaN        NaN        NaN         NaN
339         NaN        NaN        NaN        NaN        NaN         NaN
424         NaN        NaN        NaN        NaN        NaN         NaN
509         NaN        NaN        NaN        NaN        NaN         NaN
594         NaN        NaN        NaN        NaN        NaN         NaN
679         NaN        NaN        NaN        NaN        NaN         NaN
764         NaN        NaN        NaN        NaN        NaN         NaN
849         NaN        NaN        NaN        NaN        NaN         NaN
934         NaN        NaN        NaN        NaN        NaN         NaN
1019        NaN        NaN        NaN        NaN        NaN         NaN
1104        NaN        NaN        NaN        NaN        NaN         NaN

                    date  estacion
84   2024-11-04 00:10:00        11
169  2024-11-04 00:10:00        10
254  2024-11-04 00:10:00         9
339  2024-11-04 00:10:00        17
424  2024-11-04 00:10:00        14
509  2024-11-04 00:10:00         6
594  2024-11-04 00:10:00         8
679  2024-11-04 00:10:00         5
764  2024-11-04 00:10:00        16
849  2024-11-04 00:10:00        13
934  2024-11-04 00:10:00         1
1019 2024-11-04 00:10:00         7
1104 2024-11-04 00:10:00        12

In [12]:
# Eliminar filas por Ã­ndice
indices_a_eliminar = [84, 169, 254, 339, 424, 509, 594, 679, 764, 849, 934, 1019, 1104]  # Lista de Ã­ndices de las filas que quieres eliminar
df = df.drop(indices_a_eliminar)

In [13]:
(df.isna().sum() / df.shape[0]) * 100

SO2(001):     0.0
NO(007):      0.0
NO2(008):     0.0
O3(014):      0.0
VEL(081):     0.0
DIR(082):     0.0
TEM(083):     0.0
HUM(086):     0.0
PRE(087):     0.0
RAD(088):     0.0
LLU(089):     0.0
PM10(010):    0.0
date          0.0
estacion      0.0
dtype: float64

In [14]:
df.columns = [col.split('(')[0] for col in df.columns]

In [22]:
df.columns

Index(['SO2', 'NO', 'NO2', 'O3', 'VEL', 'DIR', 'TEM', 'HUM', 'PRE', 'RAD',
       'LLU', 'PM10', 'date', 'estacion'],
      dtype='object')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1092 entries, 0 to 1103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   SO2       1092 non-null   float64
 1   NO        1092 non-null   float64
 2   NO2       1092 non-null   float64
 3   O3        1092 non-null   float64
 4   VEL       1092 non-null   float64
 5   DIR       1092 non-null   float64
 6   TEM       1092 non-null   float64
 7   HUM       1092 non-null   float64
 8   PRE       1092 non-null   float64
 9   RAD       1092 non-null   float64
 10  LLU       1092 non-null   float64
 11  PM10      1092 non-null   float64
 12  date      1092 non-null   datetime64[ns]
 13  estacion  1092 non-null   int64
dtypes: datetime64[ns](1), float64(12), int64(1)
memory usage: 128.0 KB

In [26]:
df.to_csv("contaminacion.csv")