In [5]:
import numpy as np
import pandas as pd
import requests
from datetime import datetime, timedelta
from time import sleep

**CONTAMINACIÓN**

In [8]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjYXJvbGluYV9tZXJsbzgzQGhvdG1haWwuY29tIiwianRpIjoiYjMxZmEyMjItNzg1MC00YjBmLTkwYzItYTQ5NjE1MWQxZTZhIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1NDg0NzYsInVzZXJJZCI6ImIzMWZhMjIyLTc4NTAtNGIwZi05MGMyLWE0OTYxNTFkMWU2YSIsInJvbGUiOiIifQ.5wM8GyjDKvtBQrcvGCBBWPt81BDlnQFh79JhuFUQ7G0"
headers = {"api_key": api_key}
url_estacion = f"https://opendata.aemet.es/opendata/api/red/especial/contaminacionfondo/estacion/01"
response = requests.get(url_estacion, headers = headers)
response.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/c8cff292',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/6235d58a'}

In [10]:
data = requests.get(response.json().get("datos")).text.split("\n")
data[0]

'04-11-2024 00:10 SO2(001): +00000.14 ug/m3 CV: V FC: 2.66 NO(007): +00000.06 ug/m3 CV: V FC: 1.248 NO2(008): +00000.67 ug/m3 CV: V FC: 1.91 O3(014): +00079.62 ug/m3 CV: V FC: 1.99 VEL(081): +00002.37 m/s CV: V FC: 1 DIR(082): +00105.19 GRA CV: V FC: 1 TEM(083): +00011.07 GC CV: V FC: 1 HUM(086): +00082.75 % CV: V FC: 1 PRE(087): +00913.00 hPa CV: V FC: 1 RAD(088): +00006.49 W/m2 CV: V FC: 1 LLU(089): +00000.00 mm CV: V FC: 1 PM10(010): +00000.00 ug/m3 CV: N FC: 1'

In [11]:
data[0][17:]

'SO2(001): +00000.14 ug/m3 CV: V FC: 2.66 NO(007): +00000.06 ug/m3 CV: V FC: 1.248 NO2(008): +00000.67 ug/m3 CV: V FC: 1.91 O3(014): +00079.62 ug/m3 CV: V FC: 1.99 VEL(081): +00002.37 m/s CV: V FC: 1 DIR(082): +00105.19 GRA CV: V FC: 1 TEM(083): +00011.07 GC CV: V FC: 1 HUM(086): +00082.75 % CV: V FC: 1 PRE(087): +00913.00 hPa CV: V FC: 1 RAD(088): +00006.49 W/m2 CV: V FC: 1 LLU(089): +00000.00 mm CV: V FC: 1 PM10(010): +00000.00 ug/m3 CV: N FC: 1'

In [14]:
dicc_data = {k : v for k, v in np.array(data[0][17:].split()).reshape(-1, 7)[:, :2]}
dicc_data["date"] = data[0][:17]
pd.json_normalize(dicc_data)

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date
0,+00000.14,+00000.06,+00000.67,+00079.62,+00002.37,+00105.19,+00011.07,+00082.75,+00913.00,+00006.49,+00000.00,+00000.00,04-11-2024 00:10

In [16]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwZXRpZGllcnNtaXRAZ21haWwuY29tIiwianRpIjoiMmY4NmU2YTUtMTk1NS00YmM0LTkwMmQtODhmOTRiMDcxODhmIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1MjkxNTAsInVzZXJJZCI6IjJmODZlNmE1LTE5NTUtNGJjNC05MDJkLTg4Zjk0YjA3MTg4ZiIsInJvbGUiOiIifQ.3jrUDCnvi4-ay89n1inJgfjvqI6rkqPwecpAdCGaTJI"
headers = {"api_key": api_key}

estaciones = ["11", "10", "09", "17", "14", "06", "08", "05", "16", "13", "01", "07", "12"]

df = pd.DataFrame()

for estacion in estaciones:
    url_estacion = f"https://opendata.aemet.es/opendata/api/red/especial/contaminacionfondo/estacion/{estacion}"
    
    response = requests.get(url_estacion, headers = headers)
    
    data = requests.get(response.json().get("datos")).text.split("\n")
    
    def parsear_data(data, estacion):
    
        lista_dicc_data = list()
        
        for elemento in data:
            dicc_data = {k : v for k, v in np.array(elemento[17:].split()).reshape(-1, 7)[:, :2]}
            dicc_data["date"] = elemento[:17]
            lista_dicc_data.append(dicc_data)
            df_ = pd.json_normalize(lista_dicc_data)
            df_["estacion"] = estacion
    
        return df_
    
    df = pd.concat([df, parsear_data(data, estacion)], ignore_index = True)

df

,SO2(001):,NO(007):,NO2(008):,O3(014):,VEL(081):,DIR(082):,TEM(083):,HUM(086):,PRE(087):,RAD(088):,LLU(089):,PM10(010):,date,estacion
0,+00000.36,+00000.31,+00001.87,+00074.57,+00002.36,+00137.43,+00016.40,+00066.51,+00973.61,+00000.00,+00000.00,+00000.00,04-11-2024 00:10,11
1,+00000.31,+00000.20,+00001.46,+00077.32,+00003.07,+00127.12,+00016.85,+00065.19,+00973.46,+00000.00,+00000.00,+00000.00,04-11-2024 00:20,11
2,+00000.50,+00000.18,+00001.37,+00077.82,+00003.05,+00141.27,+00017.10,+00063.26,+00973.44,+00000.00,+00000.00,+00000.00,04-11-2024 00:30,11
3,+00000.24,+00000.27,+00001.37,+00079.08,+00002.92,+00137.91,+00017.28,+00061.80,+00973.40,+00000.00,+00000.00,+00000.00,04-11-2024 00:40,11
4,+00000.33,+00000.17,+00001.30,+00078.45,+00003.18,+00142.30,+00017.40,+00061.01,+00973.43,+00000.00,+00000.00,+00000.00,04-11-2024 00:50,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802,+00001.36,+00000.44,+00001.58,+00048.88,+00002.00,+00236.28,+00014.70,+00100.00,+00927.00,+00004.80,+00000.00,+00051.95,04-11-2024 22:30,12
1803,+00001.40,+00000.39,+00001.39,+00049.07,+00001.90,+00250.88,+00014.70,+00100.00,+00927.00,+00004.80,+00000.00,+00051.95,04-11-2024 22:40,12
1804,+00001.47,+00000.38,+00001.35,+00047.01,+00001.82,+00251.08,+00014.70,+00100.00,+00927.00,+00004.80,+00000.00,+00051.95,04-11-2024 22:50,12
1805,+00001.41,+00000.39,+00001.42,+00047.51,+00002.55,+00251.11,+00014.60,+00100.00,+00927.00,+00004.80,+00000.00,+00051.95,04-11-2024 23:00,12
1806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,,12

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1807 entries, 0 to 1806
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   SO2(001):   1794 non-null   object
 1   NO(007):    1794 non-null   object
 2   NO2(008):   1794 non-null   object
 3   O3(014):    1794 non-null   object
 4   VEL(081):   1794 non-null   object
 5   DIR(082):   1794 non-null   object
 6   TEM(083):   1794 non-null   object
 7   HUM(086):   1794 non-null   object
 8   PRE(087):   1794 non-null   object
 9   RAD(088):   1794 non-null   object
 10  LLU(089):   1794 non-null   object
 11  PM10(010):  1794 non-null   object
 12  date        1807 non-null   object
 13  estacion    1807 non-null   object
dtypes: object(14)
memory usage: 197.8+ KB

In [36]:
df['date'] = pd.to_datetime("04-11-2024 00:10", format="%d-%m-%Y %H:%M")

In [42]:
df['SO2(001):'] = df['SO2(001):'].replace('+', '').astype(float)
df['NO(007):'] = df['NO(007):'].replace('+', '').astype(float)
df['NO2(008):'] = df['NO2(008):'].replace('+', '').astype(float)
df['O3(014):'] = df['O3(014):'].replace('+', '').astype(float)
df['VEL(081):'] = df['VEL(081):'].replace('+', '').astype(float)
df['DIR(082):'] = df['DIR(082):'].replace('+', '').astype(float)
df['TEM(083):'] = df['TEM(083):'].replace('+', '').astype(float)
df['HUM(086):'] = df['HUM(086):'].replace('+', '').astype(float)
df['PRE(087):'] = df['PRE(087):'].replace('+', '').astype(float)
df['RAD(088):'] = df['RAD(088):'].replace('+', '').astype(float)
df['LLU(089):'] = df['LLU(089):'].replace('+', '').astype(float)
df['PM10(010):'] = df['PM10(010):'].replace('+', '').astype(float)
df['estacion'] = df['estacion'].astype(int)

In [44]:
df = df.drop(1182,axis=0)

In [46]:
(df.isna().sum() / df.shape[0]) * 100

SO2(001):     0.719823
NO(007):      0.719823
NO2(008):     0.719823
O3(014):      0.719823
VEL(081):     0.719823
DIR(082):     0.719823
TEM(083):     0.719823
HUM(086):     0.719823
PRE(087):     0.719823
RAD(088):     0.719823
LLU(089):     0.719823
PM10(010):    0.719823
date          0.000000
estacion      0.000000
hora          0.000000
dtype: float64

In [48]:
df.columns = [col.split('(')[0] for col in df.columns]

In [52]:
df

,SO2,NO,NO2,O3,VEL,DIR,TEM,HUM,PRE,RAD,LLU,PM10,date,estacion,hora
0,0.36,0.31,1.87,74.57,2.36,137.43,16.40,66.51,973.61,0.0,0.0,0.00,2024-11-04 00:10:00,11,00:10
1,0.31,0.20,1.46,77.32,3.07,127.12,16.85,65.19,973.46,0.0,0.0,0.00,2024-11-04 00:10:00,11,00:20
2,0.50,0.18,1.37,77.82,3.05,141.27,17.10,63.26,973.44,0.0,0.0,0.00,2024-11-04 00:10:00,11,00:30
3,0.24,0.27,1.37,79.08,2.92,137.91,17.28,61.80,973.40,0.0,0.0,0.00,2024-11-04 00:10:00,11,00:40
4,0.33,0.17,1.30,78.45,3.18,142.30,17.40,61.01,973.43,0.0,0.0,0.00,2024-11-04 00:10:00,11,00:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1802,1.36,0.44,1.58,48.88,2.00,236.28,14.70,100.00,927.00,4.8,0.0,51.95,2024-11-04 00:10:00,12,22:30
1803,1.40,0.39,1.39,49.07,1.90,250.88,14.70,100.00,927.00,4.8,0.0,51.95,2024-11-04 00:10:00,12,22:40
1804,1.47,0.38,1.35,47.01,1.82,251.08,14.70,100.00,927.00,4.8,0.0,51.95,2024-11-04 00:10:00,12,22:50
1805,1.41,0.39,1.42,47.51,2.55,251.11,14.60,100.00,927.00,4.8,0.0,51.95,2024-11-04 00:10:00,12,23:00
1806,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-11-04 00:10:00,12,

In [54]:
df.to_csv("contaminacion.csv")