In [2]:
import numpy as np
import pandas as pd
import requests
from datetime import datetime, timedelta
from time import sleep

In [4]:
api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjYXJvbGluYV9tZXJsbzgzQGhvdG1haWwuY29tIiwianRpIjoiYjMxZmEyMjItNzg1MC00YjBmLTkwYzItYTQ5NjE1MWQxZTZhIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1NDg0NzYsInVzZXJJZCI6ImIzMWZhMjIyLTc4NTAtNGIwZi05MGMyLWE0OTYxNTFkMWU2YSIsInJvbGUiOiIifQ.5wM8GyjDKvtBQrcvGCBBWPt81BDlnQFh79JhuFUQ7G0"
url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/2024-10-08T00%3A00%3A00UTC/fechafin/2024-10-20T00%3A00%3A00UTC/todasestaciones"
headers ={"api_key":api_key} 
response= requests.get(url, headers)
response.json()

{'descripcion': 'exito',
 'estado': 200,
 'datos': 'https://opendata.aemet.es/opendata/sh/2c618a29',
 'metadatos': 'https://opendata.aemet.es/opendata/sh/b3aa9d28'}

In [5]:
response2 = requests.get(response.json()["datos"])
pd.json_normalize(response2.json()).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11281 entries, 0 to 11280
Data columns (total 25 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        11281 non-null  object
 1   indicativo   11281 non-null  object
 2   nombre       11281 non-null  object
 3   provincia    11281 non-null  object
 4   altitud      11281 non-null  object
 5   tmed         10948 non-null  object
 6   prec         10838 non-null  object
 7   tmin         10949 non-null  object
 8   horatmin     10890 non-null  object
 9   tmax         10952 non-null  object
 10  horatmax     10899 non-null  object
 11  dir          9186 non-null   object
 12  velmedia     9206 non-null   object
 13  racha        9186 non-null   object
 14  horaracha    9185 non-null   object
 15  hrMedia      10466 non-null  object
 16  hrMax        10803 non-null  object
 17  horaHrMax    10803 non-null  object
 18  hrMin        10802 non-null  object
 19  horaHrMin    10802 non-null  object
 20  presMax      2793 non-null   object
 21  horaPresMax  2793 non-null   object
 22  presMin      2792 non-null   object
 23  horaPresMin  2792 non-null   object
 24  sol          1765 non-null   object
dtypes: object(25)
memory usage: 2.2+ MB

In [7]:
# Fecha inicial y final
fechaIni = datetime(2022, 1, 1, 0, 0, 0)
fechaFin = datetime(2022, 1, 5, 0, 0, 0)

api_key = "eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJjYXJvbGluYV9tZXJsbzgzQGhvdG1haWwuY29tIiwianRpIjoiYjMxZmEyMjItNzg1MC00YjBmLTkwYzItYTQ5NjE1MWQxZTZhIiwiaXNzIjoiQUVNRVQiLCJpYXQiOjE3Mjk1NDg0NzYsInVzZXJJZCI6ImIzMWZhMjIyLTc4NTAtNGIwZi05MGMyLWE0OTYxNTFkMWU2YSIsInJvbGUiOiIifQ.5wM8GyjDKvtBQrcvGCBBWPt81BDlnQFh79JhuFUQ7G0"
base_url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{fechaIni}/fechafin/{fechaFin}/todasestaciones"
headers = {"api_key": api_key}

# Función para obtener los datos de un rango de fechas específico
def get_data_for_dates(fechaIni, fechaFin):
    url = f"https://opendata.aemet.es/opendata/api/valores/climatologicos/diarios/datos/fechaini/{fechaIni}/fechafin/{fechaFin}/todasestaciones"
    response = requests.get(url, headers=headers)
    if response.status_code == 200:
        data_url = response.json()["datos"]
        response2 = requests.get(data_url)
        return pd.json_normalize(response2.json())
    else:
        (f"Error al obtener datos de {fechaIni} a {fechaFin}")
        return pd.DataFrame()  # Retorna un DataFrame vacío en caso de error

In [10]:
%%time

# Bucle

df = pd.DataFrame()

while fechaIni <= fechaFin:
    df_shape = df.shape[0]
    fechaIniBucle = fechaIni.strftime("%Y-%m-%dT%H:%M:%SUTC")
    fechaFinBucle = (fechaIni + timedelta(days = 1)).strftime("%Y-%m-%dT%H:%M:%SUTC")

    print(fechaIniBucle, fechaFinBucle, df.shape, df_shape)
    try:
        df_bucle = get_data_for_dates(fechaIniBucle, fechaFinBucle) 
        df = pd.concat([df, df_bucle])
    except:
        pass
        
    if df.shape[0] == df_shape:
        sleep(5)
    else:
        fechaIni = fechaIni + timedelta(days = 1)

    sleep(1)

2022-01-01T00:00:00UTC 2022-01-02T00:00:00UTC (0, 0) 0
2022-01-02T00:00:00UTC 2022-01-03T00:00:00UTC (1757, 25) 1757
2022-01-03T00:00:00UTC 2022-01-04T00:00:00UTC (3513, 25) 3513
2022-01-04T00:00:00UTC 2022-01-05T00:00:00UTC (5270, 25) 5270
2022-01-05T00:00:00UTC 2022-01-06T00:00:00UTC (7030, 25) 7030
CPU times: user 272 ms, sys: 49.6 ms, total: 322 ms
Wall time: 8.89 s

In [12]:
df = df.drop(["presMax","horaPresMax","presMin","horaPresMin","sol"],axis=1)

In [14]:
df['provincia'] = df['provincia'].astype(str)
df['nombre'] = df['nombre'].astype(str)
df['fecha'] = pd.to_datetime(df['fecha'])

In [16]:
columnas_a_transformar = ['horatmin', 'horatmax', 'horaHrMin', 'horaracha', 'horaHrMax']

# Aplicar las transformaciones
for col in columnas_a_transformar:
    df[col] = df[col].replace({"Varias": '00:00', "24:00": "00:00"}, regex=True)
    # Concatenar el año 2022 a las cadenas de tiempo
    df[col] = df[col] + ' 2022'
    df[col] = pd.to_datetime(df[col].replace(",", "."), format='%H:%M %Y', errors='coerce')

In [18]:
columnas_a_transformar = ['velmedia', 'racha', 'tmed', 'tmin', 'tmax', 'hrMax', 'hrMedia', 'hrMin', 'prec']

def limpiar_y_convertir(col):
    col = col.replace(',', '.', regex=True).replace("Ip", np.nan).replace("Acum", np.nan)
    return pd.to_numeric(col, errors='coerce')

# Aplicar la función a las columnas seleccionadas
df[columnas_a_transformar] = df[columnas_a_transformar].apply(limpiar_y_convertir)

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8790 entries, 0 to 1759
Data columns (total 20 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   fecha       8790 non-null   datetime64[ns]
 1   indicativo  8790 non-null   object
 2   nombre      8790 non-null   object
 3   provincia   8790 non-null   object
 4   altitud     8790 non-null   object
 5   tmed        8648 non-null   float64
 6   prec        8511 non-null   float64
 7   tmin        8660 non-null   float64
 8   horatmin    8611 non-null   datetime64[ns]
 9   tmax        8654 non-null   float64
 10  horatmax    8605 non-null   datetime64[ns]
 11  dir         6983 non-null   object
 12  velmedia    7013 non-null   float64
 13  racha       6983 non-null   float64
 14  horaracha   6974 non-null   datetime64[ns]
 15  hrMedia     8171 non-null   float64
 16  hrMax       8373 non-null   float64
 17  horaHrMax   8373 non-null   datetime64[ns]
 18  hrMin       8376 non-null   float64
 19  horaHrMin   8376 non-null   datetime64[ns]
dtypes: datetime64[ns](6), float64(9), object(5)
memory usage: 1.4+ MB

In [28]:
df = df.replace({np.nan:None})

In [30]:
df.to_csv("valores_2022.csv")

In [52]:
vc = pd.read_csv("valores_climatologicos_limpio_2022.csv", index_col=0)

In [54]:
vc.info()

<class 'pandas.core.frame.DataFrame'>
Index: 635920 entries, 0 to 635919
Data columns (total 20 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   fecha       635920 non-null  object
 1   indicativo  635920 non-null  object
 2   nombre      635920 non-null  object
 3   provincia   635920 non-null  object
 4   altitud     635920 non-null  int64
 5   tmed        624748 non-null  float64
 6   prec        616285 non-null  float64
 7   tmin        624937 non-null  float64
 8   horatmin    621595 non-null  object
 9   tmax        625004 non-null  float64
 10  horatmax    621841 non-null  object
 11  dir         507452 non-null  float64
 12  velmedia    509289 non-null  float64
 13  racha       507452 non-null  float64
 14  horaracha   507283 non-null  object
 15  hrMedia     595421 non-null  float64
 16  hrMax       607639 non-null  float64
 17  horaHrMax   607495 non-null  object
 18  hrMin       607678 non-null  float64
 19  horaHrMin   607486 non-null  object
dtypes: float64(10), int64(1), object(9)
memory usage: 101.9+ MB

In [69]:
vc2 = vc.head(10)

In [65]:
vc2.to_csv("prueba.csv")